 *{
     box-sizing: border-box;
 }
 
 body{
     overflow-x: hidden;
 }
 
 header{
    height: 95px;
    position: fixed;
    z-index: 1;
    background-color: #253e5b; 
    top: 0;
    width: 100%;
    border-bottom: 4px solid #ffa838;
  }

  /* #35393c*/
  
  .navbar-brand{
    color:  #ffa838 !important;
  } 
  
  .navbar{
    background: transparent;  
  }
  
  .navbar-nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  .nav-item{
    margin-right: 20px;
  }
  
  .navbar-collapse{   
    display: flex;
    justify-content: center;
  }
  
  .raxdeba{ 
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 15px;
 
  }
  
  .dropdown-toggle::after{
    content: none;
  }
  
  .nav-link{
    color: white !important;
    font-size: 18px;
    
  }
  
  .nav-link:hover{
    color: #ffa838 !important;
  }
  
  .navbar .active{
    color: #ffa838 !important;
  }
  
  
  
  .active2 a{
    color: #253e5b !important;
  }
  
 .navbar .active:hover{
    color: white !important;
  }
  
  .drpMenu, .drogba{
    background: none;
   background: #ffa838;
  }
  
  .drpMenu{
    margin-top: -5px;
    background:#ffa838;
    opacity: 0.8;
  }
  
  .dropdown-item{
    color: #fff;
  }

  .dropdown-item:hover{
    background: #253e5b;
    color: #ffa838;
  }


  .hero-content{
      margin-top: 90px !important;
      width: 100% !important;
      margin-right: 0;
  }

  .carousel-item img{
    width: 100%;
  }




  h1{
      font-size: 56px;
      text-align: left;
      position: absolute !important;
      color: white;
      bottom: 50px;
      left: 86px;
 }

  .row1{
      margin-top: 80px;
  }

  

  .col-md-7{
      padding-left: 100px;
  }

  .left-text1{
      margin-top: 20px;
  }

  .col-md-5{
    padding-left: 80px;
  }

  .btn-contact{
      background:  #ffa838;
      width: 80%;
      border-radius: 30px;
      margin-top: 20px;
      color: white;
  }

  .btn-contact:hover{
    background: transparent;
    color: #ffa838;
    border: 1px solid #ffa838;
  }
  

  .contact-box{
      background-color: #253e5b;
      width: 80%;
      padding-top: 30px;
      padding-bottom: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      color: white;
  }

  .contact-text{
      width: 80%;
      margin-top: 10px;
      font-size: 13px;
  }
  
  hr{
      width: 80%;
  }

  .contact-box-title{
      display: flex;
      justify-content: flex-start !important;
      width: 80%;
  }

  .body-contact{
      background-color: #2596be;
      color: #485e74;
      line-height: 1.6;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      padding: 1em;
  }

  .container-contact{
      max-width: 1170px;
      margin-left: auto;
      margin-right: auto;
      padding: 1em;
  }

  .company-info ul{
      list-style: none;
      padding: 0;
  }


  .wrapper{
      box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
  }

  .wrapper > * {
      padding: 1em;
  }

  .company-info{
      background-color: #8bd2ec;
  }

  .company-info h3, .company-info ul{
      text-align: center;
      margin: 0 0 1rem 0;
  }

  .company-info h3{
      color: white;
  }

  .contact{
      background: #f9feff;
  }

  /* Form Style */
  .contact form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
  }

  .contact form label{
    display: block;
  }

  .contact form p{
      margin: 0;
  }

  .contact form .full{
      grid-column: 1 / 3;
  }

  .contact form button, .contact form input, .contact form textarea{
      width: 100%;
    
     
  }

  .contact form button{
      background: #c9e6ff;
      text-transform: uppercase;
  }

  .contact form button:hover, .contact form button:focus{
      background: #2596be;
      color: white;
      outline: 0;
      
  }

  .fas{
      margin-right: 5px;
  }

  .fa-times{
    font-size: 32px;
    display: none;
    color: #ffa838;

  }
  
  
  
  
  
  .fa-bars{
    font-size: 32px;
    color: #ffa838;
    
  }

  .hiddenMenu .nav-item:hover{
    background: #253e5b;
    
    
  }

  
  
  
  .hiddenMenu .nav-link{
      font-size: 28px;
  }
  
  .hiddenMenu .nav-link:hover{
    background: #253e5b;
    border-bottom: 0;
    
  }
  
  .hiddenMenu .nav-item{
    width: 100%;
    padding-left: 25px;
    padding-left: 70px;
  }
  
  .drpMenu2, .drogba2{
    position: absolute;
    left: -100px;
    top: 5px;
    background: lightgrey;
    display: none;
  }
  
  .drogba{
    margin-left: -30px;
  }
  
  
  
  .hiddenMenu{
    display: none;
    flex-direction: column !important;
    width: 100%;
    height: 100vh;
    right: 0;
    top: 95px;
    position: absolute;
    justify-content: flex-start;
    background: #ffa838;
    z-index: 1;
   
  }

  .burger{
    z-index: 2;
    
  }

  .member-box{
   margin-top: 30px;
  }

  

 


  /*Responsive*/
  @media(min-width:700px){
      .wrapper{
          display: grid;
          grid-template-columns: 1fr 2fr;
      }
      .wrapper > * {
          padding: 2em;
      }
      .container-contact{
          margin-top: 100px;
      }
     
  }

 
  
  
  @media only screen and (min-width: 991px) {
    .hiddenMenu{
      display: none !important;
      
    }
  
    #textBoxes{
      display: block !important;
    }
    
  
    
  }
  
  @media only screen and (max-width: 991px) {
    .navbar-brand{
      display: block !important;
    }
  
    .raxdeba{
      justify-content: space-between;
    }
     
  }
  

  @media only screen and (max-width: 767px) {

  .row1{
      margin-top: 50px;
  }

  

  .col-md-7{
      padding-left: 30px;
      padding-right: 20px;
  
  }

  h1{
    left: 16px;
  }
  .col-md-5{
    display: flex;
    padding-left: 0;
    flex-direction: column;
    align-items: center;
   
  }

  .btn-contact{
      background:  #ffa838;
      width: 80%;
      border-radius: 30px;
      margin-top: 20px;
      color: white;
  }
  }
  
  
  @media only screen and (max-width: 687px) {
    h1{
      font-size: 42px;
    }
    }

    @media only screen and (max-width: 611px) {
      h1{
        bottom: 20px;
      }
      }

      @media only screen and (max-width: 559px) {
       .row1{
         margin-top: 30px;
       }
        }

        
      @media only screen and (max-width: 539px) {
        .col-md-7{
          padding-right: 15px;
        }
        h1{
          left: 8px;
          bottom: 15px;
        }
         }

         @media only screen and (max-width: 463px) {
          .col-md-7{
            padding-left: 22px;
          }
           }
  
  @media only screen and (max-width: 442px) {
   h1{
     font-size: 32px;
   }
  
  
   .raxdeba{
    padding-left: 30px;
    padding-right: 30px;
  }
  
   
   .hiddenMenu .nav-item{
     padding-left: 30px;
   }
  
  }
  

  
  @media only screen and (max-width: 370px) {
  
    h1{
      font-size: 22px;
      bottom: 2px;
    }

    .contact-box{
      width: 100%;
      border-bottom: 4px solid #ffa838;
    }
    .member-box{
      margin-top: 0;
    }
  }
  
  
  